.Summary_Card{
    display: flex;
    flex-direction: row;
    padding: 12px 20px;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(227, 206, 227);
    margin-bottom: 2px;
}
.Summary_Card img{
    width: 10%;
    height: 90%;
}
.Summary_Card h2{
    font-size: 15px;
}
