.NL_container{
    background-color: rgb(207, 141, 207);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NS_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.NS_main h1{
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: 500;
}
.NS_main p{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: capitalize;
}
.NL_sub{
    display: flex;
    height: 47px;
    gap: 3px;
    margin-top: 20px;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.NL_sub input{
    padding: 12px 10px;
}
.NL_sub button{
    width: 120px;
    height: 100%;
    background-color: rgb(207, 141, 207);
}

@media screen and (max-width: 768px) {
    .NS_main h1{
        font-size: 3rem;
    }
    .NS_main{
        gap: 20px;
    }
    .NS_main p{
        text-align: center;
    }
}