.wish_main{
    height: 100vh;
    width: 100%;
    padding-top: 70px;
}
.wish_ind{
    display: flex;
    width: 100vw;
    height: 100%;
    padding: 0px 200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .wish_ind{
        padding: 0px;
    }
}
