.amt_toggle{
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
}
.amt_inner{
    display: flex;
    margin-bottom: 20px;
    gap: 0.1px;
}

.amt_inner div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    font-family: 'Unicode', Geneva, Verdana, sans-serif
}
.counter{
    background-color: rgb(225, 184, 243);
    height: 30px;
    border: 2px solid purple;
}
.counter:hover{
    background-color: purple;
    cursor: pointer;
    color: white;
}